.header{
    padding:60px;
    background:#1abc9c ;
    color: white;
    text-align: center;
}
.navbar{
    display: flex;
    background-color: #333;
}
.navbar a{
padding: 14px 20px;
color: white;
text-decoration: none;
text-align: center;
}
.navbar a:hover{
    background-color: #ddd;
    color: black;
}
.row{
    display: flex;

}
.side{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
.main{
    flex: 70%;
    padding: 20px;
}
.fakeimg{
    background-color: #aaa;
    padding: 20px;
}
.footer{
    padding: 20px;
    background-color: #ddd;
    text-align: center;
}
@media screen and (max-width:700px)
{
    .row, .navbar{
        flex-direction: column;
    }    
}